.form-container {
  margin-bottom: .7rem;
}
.form-container > textarea {
  resize: vertical;
}
.form-container--label {
  display: block;
  color: var(--grayish-1);
  font-weight: 500;
}
.form-control {
  margin: 8px 0;
  padding: 0.5rem 1.2rem;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-control[type="text"] {
  width: 100%;
}
.form-control[type="password"] {
  width: 100%;
}
.form-control[type="email"] {
  width: 100%;
}
.error {
  color: var(--foreground-red);
  font-size: 0.6rem;
}
.is-invalid {
  border: 1px solid var(--foreground-red);
}
@media only screen and (max-width: 515px) {
  .form-container {
    width: 95%;
    margin: 1rem auto;
  }
  .form-container > textarea {
    width: 99%;
  }
}

@media only screen and (max-width: 430px) {
  .form-container {
    width: 95%;
    margin: 1rem auto;
  }
  .form-container > textarea {
    width: 99%;
  }
}
@media only screen and (max-width: 392px) {
  .form-container {
    width: 95%;
    margin: 1rem auto;
  }
  .form-container > textarea {
    width: 95%;
  }
}